body{
margin:0px;
}
.iv-bg{
background:#ED2225;  
}
.icon-scroll:hover{
  cursor: pointer;
}
.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 20px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
    transform: translateY(46px);
  }
  }

.center{
  text-align: -webkit-center;
}
.text-white {
  color: fff;
}
.fs-70 {
  font-size: 100px;
}
.fs-60 {
  font-size: 60px;
}
.h-100vh{
height: 100vh !important; 
}

.h25vh {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.h-btn{
  background: #fff !important;
  color: red !important;
  border: 0px !important;
  width: 190px !important;
  padding: 16px !important;
}

.h-btn span {
  font-size: 21px;
  color: black;
  font-weight: 500;
}




@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
.btn-11 {
  position: relative;
}
.btn-11:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #770522;
  border-radius: 50%;
  border:2px solid white;
}
.btn-11:before {
  left: -20px;
  transform: translate(-50%, -50%);
  border:2px solid white;
}
.btn-11:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.btn-11:hover {
  color: #f0e0e4;
}
.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
          
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn-11:hover:after {
  
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}



.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}


.animate {
	font-size:100px;
}

.animate span {
	display: inline-block;
}

/* Animation Seven */


.seven span {
	color: #ffffff;
	opacity: 0;
	transform: translate(-150px, 0) scale(.3);
	animation: leftRight .5s forwards;
}


@keyframes leftRight {
	40% {
		transform: translate(50px, 0) scale(.7);
		opacity: 1;
		color: #ffffff;
	}

	60% {
		color: #bcbcbc;
	}

	80% {
		transform: translate(0) scale(2);
		opacity: 0;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
	}
}


.blurb-ripple-out {
	cursor: pointer;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.blurb-ripple-out-wrap {
	text-align: center;
	padding: 1em 0 1em;
}


.blurb-ripple-out:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgb(255, 255, 255);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.blurb-ripple-out:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.blurb-ripple-out:hover {
	background: rgb(217, 217, 217);
	color: #fff;
}

.blurb-ripple-out:hover:after {
	-webkit-animation: sonarEffect 1.0s ease-out 75ms;
	-moz-animation: sonarEffect 1.0s ease-out 75ms;
	animation: sonarEffect 1.0s ease-out 75ms;
}


@keyframes sonarEffect {
	0% {
		opacity: 0.5;
	}
	40% {
		opacity: 0.4;
		box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 10px 10px rgb(255, 255, 255), 0 0 0 10px rgb(255, 255, 255);
	}
	100% {
		box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 10px 10px rgb(255, 255, 255), 0 0 0 10px rgb(255, 255, 255);
		transform: scale(1.0);
		opacity: 0;
	}
}
